<div class="container  mt-5">
    <div class="row">
      <div class="col-sm text-center  ">
        <div class="block" style="background-color: aqua;">
          <i class="fas fa-users  pt-3"></i> 11
        </div>
      </div>
  
      <div class="col-sm">
        <div class="block" style="background-color: aqua;">
          <i class="fas fa-users  pt-3"></i> 11
        </div>
      </div>
  
      <div class="col-sm">
        <div class="block" style="background-color: aqua;">
          <i class="fas fa-users  pt-3"></i> 11
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm">
        <div class="mt-5" style="width: 100%; height:550px;">
          <canvas id="myChart"></canvas>
        </div>
      </div>
      <div class="col-sm">
        <div class="mt-5" style="width: 100%; height: 550px;">
          <canvas id="unemploymentChart"></canvas>
        </div>
      </div>
      <div class="col-sm">
        <div class="mt-5" style="width: 100%; height: 250px;">
          <canvas id="genderChart"></canvas>
        </div>
      </div>
    </div>
  
   
  </div>